table {
  height: 100%;
  width: 100%;
  border-collapse: collapse;
}

table td {
	vertical-align: top;
}

table td.divisor {
	border-top: 1px dotted black;
}

table td.course {
	border: 1px solid black;
}
