[Desktop Entry]
Encoding=UTF-8
Name=TTime
Comment=TTime it a time table generator
Exec=ttime
Icon=ttime
Categories=GNOME;Application;Utility;
Terminal=false
Type=Application
StartupNotify=false
