Source: ttime
Section: x11
Priority: extra
Maintainer: Ohad Lutzky <ohad@lutzky.net>
Build-Depends: ruby1.9.1,
 ruby-setup,
 gem2deb,
 debhelper (>= 5),
 ruby-gettext,
 rake
Standards-Version: 3.9.4
XS-Ruby-Versions: ruby1.9.1

Package: ttime
Architecture: all
XB-Ruby-Versions: ${ruby:Versions}
Depends: ${shlibs:Depends}, ${misc:Depends}, ruby | ruby-interpreter,
 ruby-cairo,
 ruby-gettext,
 ruby-pango,
 ruby-rsvg2,
 ruby-tzinfo,
 ruby-rubyzip2,
 ruby1.9.1,
 ruby-gtk2,
 ruby-libxml,
Description: Technion Timetable Scheduler
 TTime is a utility intended for students of the Technion IIT, which assists
 in creation of weekly schedules by using technion-supplied course data.
