Source: ttime
Section: x11
Priority: extra
Maintainer: Ohad Lutzky <ohad@lutzky.net>
Build-Depends: ruby (>= 1.8)
Standards-Version: 3.7.2

Package: ttime
Architecture: all
Depends: ruby (>= 1.8), libzip-ruby, libgettext-ruby, libglade2-ruby, libpango1-ruby, librsvg2-ruby, libcairo-ruby
Recommends: libxml-ruby1.8
Description: Technion Timetable Scheduler
 TTime is a utility intended for students of the Technion IIT, which assists
 in creation of weekly schedules by using technion-supplied course data.
