Source: ttime
Section: x11
Priority: extra
Maintainer: Ohad Lutzky <ohad@lutzky.net>
Build-Depends: ruby (>= 1.8)
Standards-Version: 3.7.2

Package: ttime
Architecture: all
Depends: libzip-ruby1.8, libgettext-ruby1.8, libglade2-ruby1.8, libpango1-ruby1.8, librsvg2-ruby1.8, libcairo-ruby1.8
Recommends: libxml-ruby1.8
Description: Technion Timetable Scheduler
 TTime is a utility intended for students of the Technion IIT, which assists
 in creation of weekly schedules by using technion-supplied course data.
